.logo {
  width: 70px;
}
.top {
  display: flex;
  align-items: center;
}

.inbox {
  font-weight: 120;
  margin: 7px;
}
.search {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}

.button {
  margin-top: 20px;
  border: 2px solid darkgray;
  border-radius: 25px;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
}
.filter {
  display: flex;
  margin-top: 25px;
  align-items: center;
  gap: 17px;
}
.filter img {
  width: 20px;
}
.filter .imgPeople {
  width: 30px;
}
p {
  margin-right: 20px;
}
.down-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black; /* Adjust color here */
}
.messageBox {
  display: flex;

}

.oneLine {
  margin-right: 40px;
}
